footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.toplink{
  position: absolute;
  right: 10%;
  font-size: 40px;
}

.copy{
  color: red;
  margin-left: 5%;
}

.tel{
  position: absolute;
  right: 46%;
}