#footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.toplink{
  position:absolute;
  right:2%;
  font-size: 40px;
}

.copy{
  margin-left: .5%;
}

.tel{
  position: relative;
  left: 5rem;
}