/*background animation*/
body {
  background: linear-gradient(-45deg, rgb(182, 185, 185), #171616, rgba(125, 125, 133, 0.38));
  background-size: 400% 400%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient 20s ease infinite;
  height: 100vh;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
