/* fog effect from "https://codepen.io/braedencraig/pen/dBVKzO"*/
@import url(http://fonts.googleapis.com/css?family=Denk+One);
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}

#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}

#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
    width: 100%;
  }
}
body {
  background-color: #212121;
}

h1 {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Denk One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2em;
  margin-left: -180px;
  -webkit-animation: horror-animation 5s infinite;
  -moz-animation: horror-animation 5s infinite;
  -o-animation: horror-animation 5s infinite;
  animation: horror-animation 5s infinite;
}

@-webkit-keyframes horror-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    left: 51%;
    top: 36%;
  }
  5% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 50%;
    top: 35%;
  }
  10% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
    top: 34%;
  }
  15% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
    top: 35%;
  }
  16% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  17% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  20% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 49%;
  }
  25% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 49%;
  }
  30% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    left: 50%;
  }
  35% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  36% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  37% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  40% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
    left: 51%;
  }
  45% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 51%;
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    left: 51%;
  }
  55% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 50%;
  }
  56% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  57% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 52%;
  }
  60% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
  65% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  70% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  76% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  77% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  80% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    left: 49%;
  }
  85% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  86% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  87% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  90% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    left: 51%;
  }
  95% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 51%;
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
}
@-moz-keyframes horror-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    left: 51%;
    top: 36%;
  }
  5% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 50%;
    top: 35%;
  }
  10% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
    top: 34%;
  }
  15% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
    top: 35%;
  }
  16% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  17% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  20% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 49%;
  }
  25% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 49%;
  }
  30% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    left: 50%;
  }
  35% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  36% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  37% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  40% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
    left: 51%;
  }
  45% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 51%;
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    left: 51%;
  }
  55% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 50%;
  }
  56% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  57% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 52%;
  }
  60% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
  65% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  70% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  76% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  77% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  80% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    left: 49%;
  }
  85% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  86% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  87% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  90% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    left: 51%;
  }
  95% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 51%;
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
}
@-o-keyframes horror-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    left: 51%;
    top: 36%;
  }
  5% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 50%;
    top: 35%;
  }
  10% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
    top: 34%;
  }
  15% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
    top: 35%;
  }
  16% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  17% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  20% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 49%;
  }
  25% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 49%;
  }
  30% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    left: 50%;
  }
  35% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  36% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  37% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  40% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
    left: 51%;
  }
  45% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 51%;
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    left: 51%;
  }
  55% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 50%;
  }
  56% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  57% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 52%;
  }
  60% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
  65% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  70% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  76% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  77% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  80% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    left: 49%;
  }
  85% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  86% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  87% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  90% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    left: 51%;
  }
  95% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 51%;
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
}
@keyframes horror-animation {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    left: 51%;
    top: 36%;
  }
  5% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 50%;
    top: 35%;
  }
  10% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
    top: 34%;
  }
  15% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
    top: 35%;
  }
  16% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  17% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  20% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 49%;
  }
  25% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 49%;
  }
  30% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    left: 50%;
  }
  35% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  36% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  37% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 50%;
  }
  40% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.9);
    left: 51%;
  }
  45% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    left: 51%;
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    left: 51%;
  }
  55% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 50%;
  }
  56% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  57% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    left: 52%;
  }
  60% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
  65% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 50%;
  }
  70% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    left: 49%;
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  76% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  77% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    left: 49%;
  }
  80% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    left: 49%;
  }
  85% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  86% {
    text-shadow: 0 0 5px #212121;
    left: 50%;
  }
  87% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
    left: 51%;
  }
  90% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    left: 51%;
  }
  95% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    left: 51%;
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    left: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

#abc {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

nav {
  width: 100%;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  z-index: 1;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li:hover {
  background-color: #088;
}

nav ul li a {
  text-decoration: none;
  color: red;
  padding: 30px;
}

li h1 {
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
